[**emptysock-engine**](../../../README.md)

***

[emptysock-engine](../../../README.md) / [export-utils/src](../README.md) / VerificationResult

# Interface: VerificationResult

Defined in: [export-utils/src/index.ts:204](https://github.com/eleferrets/emptysock-engine/blob/b99bc83f395a2a008bf7f96e63875520cb9c5b89/packages/export-utils/src/index.ts#L204)

## Properties

### checks

> **checks**: `object`[]

Defined in: [export-utils/src/index.ts:206](https://github.com/eleferrets/emptysock-engine/blob/b99bc83f395a2a008bf7f96e63875520cb9c5b89/packages/export-utils/src/index.ts#L206)

#### detail

> **detail**: `string`

#### name

> **name**: `string`

#### passed

> **passed**: `boolean`

***

### passed

> **passed**: `boolean`

Defined in: [export-utils/src/index.ts:205](https://github.com/eleferrets/emptysock-engine/blob/b99bc83f395a2a008bf7f96e63875520cb9c5b89/packages/export-utils/src/index.ts#L205)
